@import 'about-section1';
@import 'about-team';
@import 'about-section2';
@import 'about-achievements';
@import 'about-slider';

.about {
    display: grid;
    grid-gap: 30px;
    margin-bottom: 60px;
}

@media (min-width: 768px) {
    .about {
        grid-gap: 60px;
    }
}



